<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Cadastrar médico </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nome</label>
                        <select name="pessoa" [(ngModel)]="medico.pessoa" id="">
                            
                            <option *ngFor="let pessoa of pessoas" 
                                [value]="pessoa.id" >
                            {{pessoa.nome}}
                            </option>
                        </select>


                    </div>

                    

                    <div class="form-group">
                        <label> CRM</label>
                        <input type="text" class="form-control" id="crm" [(ngModel)]="medico.crm"
                            name="crm">
                    </div>

                    <div class="form-group">
                        <label> Idade</label>
                        <input type="text" class="form-control" id="idade" [(ngModel)]="medico.idade"
                            name="idade">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>