<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Atualizar dados do médico </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="medico.pessoa.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label>CRM</label>
                        <input type="text" class="form-control" id="crm" [(ngModel)]="medico.crm"
                            name="crm">
                    </div>

                    <div class="form-group">
                        <label>Idade</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="medico.idade"
                            name="idade">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>