<div class = "row">
    <h2> Médico List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CRM </th>
            <th>Idade</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let medico of medicos" >
            <td> {{ medico.pessoa.nome }} </td>
            <td> {{ medico.crm }} </td>
            <td> {{ medico.idade }} </td>
            <td>
                <button (click) = "updateMedico(medico.id)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteMedico(medico.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "medicoDetails(medico.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>